<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>CustomAnalytics</name>
	<displayName><![CDATA[Tracking de Eventos y Analítica Web]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Seguimiento de visitas y conversiones en la web.]]></description>
	<author><![CDATA[Christian Herrero]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
